/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Vollkorn', Georgia, Times, serif; 
	font-size: 16px; 
	letter-spacing: 0.03em;
}
ol, ul {
	list-style: none;

}
li {
	display: inline-block;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	font: inherit;
	font-size: 20px;
}
.intro p {
	font-size: 40px;
	text-align: center;
	padding-top: 250px;
	line-height: 40px;
	color: rgb(231, 220, 220);

}
a:hover {
	cursor: pointer;
	color: #B1B7C3;
}
a:active {
    color: #B1B7C3;
    font-weight: 500;	
}
.big-button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
}
.big-button:hover {
background-color: #d9400e;
border-color: #cf3d0e;
cursor: pointer;
}
/* Apply box-sizing to everything*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}
 
header {
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
}
@media only screen and (max-width: 830px) {
	.intro p {
		font-size: 30px;
	}
	.profile {
		max-width: 100%;
	}
	.portfolio-piece img {
		max-width: 100%;
	}
}
header a {
	color: white;
}
header p {
	color: white;
}
p {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
    color: black;
}
.title {
	width: 45%;
	margin: 0 auto;
	padding: 10px 0 0 5px;
	display:inline-block;
	float:left;
}

.contact {
	margin-left: 55%;
	padding:  10px 5px 0 0;
	position: absolute;
	top: 0;
	right: 0;

}
.top-navigation {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 5px;
}
.intro {
	background: url(../images/denver-night.jpg) no-repeat;
	background-size: cover;
	height: 600px;
	margin: 0 auto;
	clear: left;
	text-align: center;
}
.sections {
	width: 50%;
	margin: auto;
	text-align: center;
}
.pages li {
	margin: 20px;
	width: 20%;
}

.content{
	max-width: 1040px;
	height: 120px;
	margin: 0 auto;
}
section .content {
	padding-top: 3rem;
}
.pages-item {
	width: 15%;
}
.profile {
	display: inline-block;
	float: left;
	max-width: 25%;
}
.about-content {
	float: left;
	display: inline-block;
	max-width: 75%;
}
.portfolio {
	background-color: gray;
	clear: both;
	height: 850px;
}
.portfolio-piece img {
	max-width: 45%;
	float: left;
	padding: 20px;
}
.portfolio-piece img:hover {
	  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
}
